*{
    box-sizing: border-box;
}

.encabezado{
    background-color :hsla(279, 86%, 51%, 0.926);
    font-family: sans-serif;
    font-size: 20px; 
}

.encabezado-imagen{
  width: 10%;
  padding:5px;
  margin:6px;
}

body{
    margin: 0 ;
    padding: 0;
    
}

.contenedorProducto{

  background-image: linear-gradient(to right, hsla(212, 80%, 42%, 0.534), hsla(2, 65%, 44%, 0.658));
}



/*de la clase inicio*/
.B-principal{
  background-image: linear-gradient(to right, hsla(212, 80%, 42%, 0.534), hsla(2, 65%, 44%, 0.658)), url(../img/ADMI/amid.jpg);
}

.formulario{
 width: auto;
 
}


/*Index*/

/*
.g-p{
 
  font-family: sans-serif;
    font-style: normal;
    color: black<;
  font-size: 30px;

}

.g-p{
   
    font-weight: bold; 
    font-style: italic;
  
}
*/

.c{
  font-family: sans-serif;
  color: black;
font-size: 15px;
}


.row{
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
}

.Column{
  flex: 25%;
  padding: 5px;

}

.Columna img{
    margin-top: 10px;
}

.Columnb  img{
  margin-top: 30px;
}

@media (max-width: 800px){
    .Column{
    flex: 50%;
    }
}



@media (max-width:600px){
    .Column{
        flex: 100%;
       
      }
    }



.control{
  width: 10%;
  Height: 40%;
}


/*********************************************************************************/
/*Prueb div 2x2  matriz de los div*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/*html{
  background-color:#eee;
}*/

.container{
  margin: 25px auto;
  width:50px;
  height: 750px;
  display:grid;
  grid-template-columns: 550px 550px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content:center;
}
  .box{
    background-color:hsla(279, 86%, 51%, 0.926);
    padding:50px;
    border-radius:25px;
    color:rgba(222, 217, 217, 0.928);
    display:flex;
    align-items:center;
    justify-content:right;
    justify-items: left;
    font-size:23px;
    font-family:sans-serif;
    image-orientation: flip;

}
/*  Footer */
.foot{
  background-color:hsla(274, 33%, 62%, 0.743);
  justify-content:center;  
  font-family: sans-serif;
  font-size: 12px;
  
  
}
.img{
  width: 150px;
  height: 150px;
}