/*********************************************************************************/
html {
    height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
.prod-text{
    justify-content: center;
    display: flex;
} 
/*Modal Inicio sesión*/
.modal-inicio{
  margin-top: 40%;
}

.btn-inicio{
   margin-left: 6.5rem;
}
.f-modal{
    margin-right: 2.5rem;
}
/*************************************************************************************/
.content-input input,
.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}
.content-select{
    max-width: 250px;
    position: relative;
}

.content-select select{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 0px 50px 0px 50px;
    height:35px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: white;
    color: #F6BD3B;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    transition: all 0.25s ease;
}

.content-select select:hover{
    color: white;
    background: purple;
}


/*
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
    position: absolute;
    right: 1px;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    display: block;

}
  /******************************************************************************************/
  /*Footer*/

  
  .foot{
    background-color: hsla(274, 33%, 62%, 0.743);
    position:fixed;
    font-family: sans-serif;
    font-size: 12px;
    left:0px;
    bottom:0px;
    margin-top: 5px;
    height: 65px;
    width: 100%;
   

  }  

/****************************************************************************************s*/

/*Card Categorias centrado*/
#margin {
    margin-left: 9rem;
    margin-right: 9rem;
}

.top-thatS {
    background-color: #F6BD3B;
}



.dropdown-toggle::after {
    margin-left: 3.5rem !important;
    margin-right: .6rem;
    vertical-align: middle;
    content: "";
    border-top: .66em solid;
    border-right: .66em solid transparent;
    border-bottom: 0;
    border-left: .66em solid transparent;

}



.align-right {
    margin-left: auto !important;
}

.thatS-color {
    color: #F6BD3B;
}

general-font {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-primary {
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #F6BD3B;
}

.btn-primary:hover {
    background-color: rgb(69, 26, 112);
}

.fa-color {
    color: #F6BD3B !important;
}
.font-size{
    font-size:large;
}


.card {
    border-radius: 1rem !important;
}

.text-shadow {
    text-shadow: black 0 2px;
}


.top {
    top: 65% !important;
    left: 7%;
}
/*control de tamaño de card categorias inicio*/
#cat div {
    width: 320px;
    height: 140px;
    margin-left: 5px;
}
/*Posicionamiento responsive card principal categorias*/
@media (max-width: 360px) {
#margin {
    margin-left: auto;
    margin-right: 1.5rem;
}
}







@media (max-width: 315px) {
    #cat div {
        width: 220px;
        height: 210px;
        margin-left: 5px;
    }
}
